{% macro ci_form(cinfo, event_id) %}
<form id="pick_contact_info_{{cinfo.id}}" method="POST" action="{{ path('event_add_note', { 'access': 'web', 'event': event_id }) }}">
<input type="hidden" name="_csrf_token" value="{{ csrf_token('event-add-note') }}">
<input type="hidden" name="type" value="Contact Info">
<input type="hidden" name="subject" value="{{ cinfo.subject }}">
<input type="hidden" name="note_id" value="{{ cinfo.messageid }}">
<input type="hidden" name="body" value="{{ cinfo.body }}">
<div class="row">
  <div class="col-8">
    <strong>{{ cinfo.subject }}</strong>
    <p>{{ cinfo.body }}</p>
  </div>
  <div class="col-2">
    <input class="btn-sm btn-dark" type="submit" value="Add"/>
  </div>
</div>
</form>
<hr>
{% endmacro %}
{% import _self as cimacros %}

{% block body %}

{% if loc_infos|length == 0 and org_infos|length == 0%}
<p>No contact information found.</p>
{% else %}
<form id="pick_contact_info_select" method="POST" action="{{ path('event_add_note', { 'access': 'web', 'event': event.id }) }}">
<input type="hidden" name="_csrf_token" value="{{ csrf_token('event-add-note') }}">
<input type="hidden" name="type" value="Contact Info">
<select name="body" class="selectpicker" id="ciselect" data-live-search="true">
    {% for ci in loc_infos %}
        <option>{{ ci.subject }} {{ ci.body }}</option>
    {% endfor %}
    {% for ci in org_infos %}
        {#
        <option>{{ ci.subject }} {{ ci.body }}</option>
<option value="{{ ci.messageid }}">{{ ci.subject }} {{ ci.body }}</option>
#}
        <option>{{ ci.subject }} {{ ci.body }}</option>
    {% endfor %}
</select>
<input class="btn-sm btn-dark" type="submit" value="Add"/>
</form>
{% endif %}

{# No go for now.
{% if loc_infos|length > 0 %}
    <h4>Location info</h4>
    {% for ci in loc_infos %}
    {{ cimacros.ci_form(ci, event.id) }}
    {% endfor %}
{% endif %}
    {% if org_infos|length > 0 %}
    <h4>Organization info</h4>
    {% for ci in org_infos %}
    {{ cimacros.ci_form(ci, event.id) }}
    {% endfor %}
{% endif %}
#}

<script>
$(document).ready(function() {
$('#ciselect').selectpicker();
});
</script>
{% endblock %}
