<div class="row subEventInfo"> 
  <div class="col-4"> 
    <table class="showTable">
        <tbody>
{% if not event.parent %}
            <tr>
                <th>Start</th>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
{% endif %}
{% if event.description is not null %}
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
{% endif %}
            <tr>
                <th>Status</th>
                <td>{{ event.statelabel }}</td>
            </tr>
{% if event.organization is not null %}
            <tr>
                <th>Organization</th>
                <td>
                    <a href="{{ path('organization_show', { 'id': event.organization.id }) }}">{{ event.organization.name }}</a>
                </td>
            </tr>
{% endif %}
{% if event.location is not null %}
            <tr>
                <th>Location</th>
                <td>
                    <a href="{{ path('location_show', { 'id': event.location.id }) }}">{{ event.location.name }}</a>
                </td>
            </tr>
{% endif %}
            <tr class="event_contactinfo">
                <th>Contact Info</th>
                <td>
        {% for note in event.notesbytype("Contact Info") %}
            <div class="row">
            <div class="col-10">
            <strong>{{ note.subject }}</strong>
            <pre>{{ note.body }}</pre>
            </div>
            <div class="col-1">
            <form method="POST" action="{{ path('event_remove_note', { 'event': event.id, 'note_id': note.id, 'access': 'web' }) }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('event-remove-note' ~ note.id) }}">
            <button class="btn remove_glyph" type="submit"></button>
            </form>
            </div>
            </div>
        {% endfor %}
                <a href="#" id="addContactLink" onClick="return openAddContactInfo({{ event.id }});">Add Contact Info</a>
                </td>
            </tr>
{# If there is no add contact form, there should be no contacts to show #}
{% if add_contact_form is not null %}
            <tr class="event_contacts">
                <th>Contacts</th>
                <td>
    {% for pre in event.personroleevents() %}
        <form method="POST" action="{{ path('event_remove_contact', { 'id': pre.id, 'access': 'web' }) }}">
        <a href="{{ path('person_show', { 'id': pre.person.id }) }}">
       {{ pre.person }}</a>{% if pre.person.mobilephonenumber %} - {{ pre.person.mobilephonenumber }}{% endif %}
        <button class="btn btn-link" type="submit">
            <span class="remove_glyph"></span>
        </button>
        </form>
    {% endfor %}
    <a href="#" id="addContactLink" onClick="return openAddContact({{ event.id }});">Add Contact Person</a>
                </td>
            </tr>
{% endif %}
{# If there is no add contact form, there should be no contacts to show #}
{% if add_crewman_form is not null %}
            <tr class="event_crewmans">
                <th>Crew Managers</th>
                <td>
    {% for pre in event.personroleevents() %}
        <form method="POST" action="{{ path('event_remove_crewmanager', { 'id': pre.id, 'access': 'web' }) }}">
        <a href="{{ path('person_show', { 'id': pre.person.id }) }}">
       {{ pre.person }}</a>{% if pre.person.mobilephonenumber %} - {{ pre.person.mobilephonenumber }}{% endif %}
        <button class="btn btn-link" type="submit">
            <span class="remove_glyph"></span>
        </button>
        </form>
    {% endfor %}
                <a href="#" id="addCrewManagerLink" onClick="return openAddCrewManager({{ event.id }});">Add Crew Manager</a>
                </td>
            </tr>
{% endif %}
        </tbody>
    </table>
  </div>
{% set lscontext = {
            'system': 'crewcall',
            'object_name': 'event',
            'message_types': ['List Sent'],
            'external_id': event.id
    }
%}
{% set listsentnotes = sakonnin_messages.MessagesForContext(lscontext) %}
  <div class="col-5 tabbable"> 
      <ul class="nav nav-tabs">
          <li class="nav-item">
          <a class="nav-link active" href="#crewnotestab_{{ event.id }}" data-toggle="tab">Crew Notes</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#adminnotestab_{{ event.id }}" data-toggle="tab">Admin Notes</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#filestab_{{ event.id }}" data-toggle="tab">Files</a>
          </li>
{% if listsentnotes | length > 0 %}
          <li class="nav-item">
          <a class="nav-link" href="#lsnotestab_{{ event.id }}" data-toggle="tab">Lists sent</a>
          </li>
{% endif %}
{% include '@Custom/event/_custom_navtabs.html.twig' ignore missing %}
      </ul>

      <div class="tab-content ">

      <div class="tab-pane active" id="crewnotestab_{{ event.id }}">
      <br>
        <strong>Confirm checkbox</strong><br>
        {% for note in event.notesbytype("ConfirmCheck") %}
            {% include 'event/_note.html.twig' with {'event': event, 'note': note, 'subject': false  } %}
        {% endfor %}
        <br>
       {% include 'event/_add_note.html.twig' with {'event': event, 'type': 'ConfirmCheck', 'subject': false } %}
        <a href="#" onClick='return openCcModalFromDiv("eventaddnoteform_ConfirmCheck_{{ event.id }}", "Add a confirm checkbox");'>Add a confirm checkbox</a><br />
        <br>
        <strong>Information checkbox</strong><br>
        {% for note in event.notesbytype("InformCheck") %}
            {% include 'event/_note.html.twig' with {'event': event, 'note': note, 'subject': false  } %}
        {% endfor %}
        <br>
       {% include 'event/_add_note.html.twig' with {'event': event, 'type': 'InformCheck', 'subject': false  } %}
        <a href="#" onClick='return openCcModalFromDiv("eventaddnoteform_InformCheck_{{ event.id }}", "Add an information checkbox");'>Add an information checkbox</a><br />
        <br>
        <strong>Information note</strong><br>
        {% for note in event.notesbytype("InformNote") %}
            {% include 'event/_note.html.twig' with {'event': event, 'note': note, 'subject': false  } %}
        {% endfor %}
        <br>
       {% include 'event/_add_note.html.twig' with {'event': event, 'type': 'InformNote', 'subject': false } %}
        <a href="#" onClick='return openCcModalFromDiv("eventaddnoteform_InformNote_{{ event.id }}");'>Add an information note</a><br />
      </div>

      <div class="tab-pane" id="adminnotestab_{{ event.id }}">
        <br>
        {% for note in event.notesbytype("AdminNote") %}
            {% include 'event/_note.html.twig' %}
        {% endfor %}
       {% include 'event/_add_note.html.twig' with {'event': event, 'type': 'AdminNote' } %}
        <a href="#" onClick='return openCcModalFromDiv("eventaddnoteform_AdminNote_{{ event.id }}", "Add an Admin Note");'>Add an Admin Note</a><br />
      </div><!-- Notes pane -->

      <div class="tab-pane" id="filestab_{{ event.id }}">
        <br>
        {% set sfconf = {'sfconfig': {
                'file_type': "AUTO",
                'formname': 'eventfiles_' ~ event.id,
                'reload_after_post': true,
                'context': {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'external_id': event.id
                    }
                }
            }
        %}
        {% include '@BisonLabSakonnin/SakonninFile/_create_popup.html.twig' with sfconf %}
        <p>
          <a href="#" onClick="return uploadSakonninFile('eventfiles_{{ event.id }}');">Add a file</a><br />
        </p>
        {% set filecontext = {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'external_id': event.id
            }
        %}
        {% include '_files.html.twig' with filecontext %}
      </div>
{% if listsentnotes | length > 0 %}
      <div class="tab-pane" id="lsnotestab_{{ event.id }}">
        {% for note in listsentnotes %}
        {% include '/_note.html.twig' %}
        {% endfor %}
      </div>
{% endif %}
{% include '@Custom/event/_custom_tabcontent.html.twig' ignore missing %}
  </div>

  </div>
  <div class="col-3" align="right"> 
    <br>
    <ul>
        <li>
    {% if event.shifts | length > 0 %}
            {% set last_shift = event.shifts | last %}
            <a href="#" onClick="return grabNewShiftForm({{ event.id }}, {{ last_shift.id }});">Add shift</a>
    {% else %}
            <a href="#" onClick="return grabNewShiftForm({{ event.id }});">Add shift</a>
    {% endif %}
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            <a href="#" onClick="return openPrintEventWindow({{ event.id }}, 'CONFIRMED');">Print / Mail list</a>
        </li>
        <li>
            <a tabindex="0" href="#" title="Log" id="popLogSummary_event_{{ event.id }}" onClick="return popLogSummary('event', {{ event.id }});">Changelog</a>
        </li>
        <li>
            <a href="#" onClick="return openMessageToEventModal('event', {{ event.id }});">Send a message</a>
        </li>
    {% if not event.done %}
{# 
 # This seemed like a good idea, but does not work.
 # The reason is that the state change listener is only triggered when there is
 # a change, which this is not. And on top of that I am still pondering if it
 # should affect the children event or not. Which the state change listener is,
 # when it's triggered.
       <li>
        <a href="#" onClick="return submitEventStateForm({{ event.id}}, 'CONFIRMED');">
        {% set shiftsclosed = false %}
        {% for sh in event.shifts %}
            {% if not sh.open %}
                {% set shiftsclosed = true %}
            {% endif %}
        {% endfor %}
        {% if event.open and shiftsclosed %}
            Open all shifts for registration
        {% elseif not event.open and event.booked %}
            Reopen event
        {% elseif not event.open and event.shifts | length > 0 %}
            Confirm and open event for registration
        {% endif %}
        </a>
       </li>
 #}
        {# This is the replacement for the code above #}
        {% if not event.open and ( event.shifts | length > 0 or event.children | length > 0 ) %}
        <li>
            <a href="#" onClick="return submitEventStateForm({{ event.id}}, 'CONFIRMED');">Confirm and open event for registration</a>
        </li>
        {% endif %}
        {% if event.end < date() %}
        <li>
            <a href="#" onClick="return submitEventStateForm({{ event.id }}, 'COMPLETED');">Set Completed</a>
        </li>
       {% elseif event.open and ( event.shifts | length > 0 or event.children | length > 0 ) %}
        <li>
            {% if event.children | length > 0 %}
                <a href="#" onClick="return submitEventStateForm({{ event.id }}, 'READY');">Set Ready and close all shifts and subevents</a>
            {% else %}
                <a href="#" onClick="return submitEventStateForm({{ event.id }}, 'READY');">Set Ready and close all shifts</a>
            {% endif %}
        </li>
       {% endif %}
    {% endif %}

    {% if event.deleteable %}
        <li>
            <a href="#" onClick="return submitDeleteForm({{ event.id}});">Delete</a>
        </li>
    {% endif %}
    {% if event.parent %}
        <li>
            <a href="{{ path('event_clone', {'event': event.id}) }}">Create a copy with new start</a>
        </li>
    {% endif %}
{% include '@Custom/event/_custom_menuitems.html.twig' ignore missing %}
    </ul>

   </div> <!-- col-2 -->
</div> <!-- / row -->

{% if event.shifts | length > 0 %}
<div id="subEventSelect_{{ event.id }}" class="row subEventInfo">
  <div class="col-5">
    <strong>Select all:  </strong><input onClick="return select_all_jobs({{ event.id }}, this);" class="select_all_persons_checkbox" type="checkbox" name="select_all">
    {# Really undecided
    <a href="#" id="message_modal_link" class="btn-sm btn-dark" onClick="return openMessageToJobsModal({{ event.id }});">Send a message to selected</a>
    #}
    <a href="#" id="message_modal_link" onClick="return openMessageToJobsModal({{ event.id }});">Send a message to selected</a>
   </div> <!-- col-5 -->
</div> <!-- / row -->

<div id="shiftList_{{ event.id}}">
  {% include '/shift/_index.html.twig' with { 'event': event}  %}
</div>
<div id="function_select_{{ event.id }}" class="d-none">
<label>Function</label>
<select name="function_id">
  <option value="" selected>All</option>
{% for f in event.distinctshiftfunctions %}
  <option value="{{ f.id }}">{{ f.name }}</option>
{% endfor %}
</select>
</div>
{% endif %}
