<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>{% block title %}CrewCall{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
   <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('public/jquery-ui/themes/smoothness/jquery-ui.min.css') }}" type="text/css" media="all" />
<!--  Or you can pick some other themes from https://bootswatch.com/ - Like this one
   <link rel="stylesheet" href="{{ asset('css/bootstrap-simplex.min.css') }}" type="text/css" media="all" />
-->
   <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('public/fullcalendar/dist/fullcalendar.min.css') }}" type="text/css" media="all" />
{#
   <link rel="stylesheet" href="{{ asset('bundles/bisonlabcommon/datatables/datatables.min.css') }}" type="text/css" media="all" />
 #}
   <link rel="stylesheet" href="{{ asset('css/datatables.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('bundles/bisonlabcommon/datatables/buttons.dataTables.min.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('bundles/bisonlabsakonnin/css/sakonnin.css') }}" type="text/css" media="all" />

    <!-- The last one, our customizations -->
   <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css" media="all" />
{% endblock %}
   <script src="{{ asset('public/jquery/jquery.js') }}"></script>
   <script src="{{ asset('public/js/bootstrap.js') }}"></script>
   <script src="{{ asset('public/jquery-ui/jquery-ui.js') }}"></script>
   <script src="{{ asset('bundles/bisonlabcommon/datatables/datatables.min.js') }}"></script>
   <script src="{{ asset('bundles/bisonlabcommon/js/multiselect.min.js') }}"></script>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% include '::scripts.html.twig' %}
{% endif %}
</head>
