{% macro list_joblogs(jobloglist) %}
    <table id="person_joblog_table" class="table table-sm">
    <thead>
    <tr><th>What</th><th>In</th><th>Out</th><th>Break</th><th>Worked</th></tr>
    </thead>
    <tbody>
    {% for elem in jobloglist %}
    <tr>
    <td>{{ elem.shift }}</td>
    <td>{{ elem.in | date("Y-m-d H:i") }}</td>
    <td>{{ elem.out | date("Y-m-d H:i") }}</td>
    <td>{{ elem.breakminutes }}</td>
    <td>{{ elem.workedtime }}</td>
    </tr>
    {% endfor %}
    <tbody>
    </table>
{% endmacro %}
<table class="table table-sm">
    <tr>
    <th>Interval</th>
    <th>Jobs</th>
    <th>Total Hours</th>
    <th>Full days</th>
    <th>Half days</th>
    </tr>
    <tr>
    <th>This week</th>
    <td>{{ summary.week.jobs }}</td>
    <td>{{ summary.week.hours }}</td>
    <td>{{ summary.week.full }}</td>
    <td>{{ summary.week.half }}</td>
    </tr>
    <tr>
    <th>Last 7 days</th>
    <td>{{ summary.l7days.jobs }}</td>
    <td>{{ summary.l7days.hours }}</td>
    <td>{{ summary.l7days.full }}</td>
    <td>{{ summary.l7days.half }}</td>
    </tr>
    <tr>
    <th>This month</th>
    <td>{{ summary.month.jobs }}</td>
    <td>{{ summary.month.hours }}</td>
    <td>{{ summary.month.full }}</td>
    <td>{{ summary.month.half }}</td>
    </tr>
    <tr>
    <th>This year</th>
    <td>{{ summary.year.jobs }}</td>
    <td>{{ summary.year.hours }}</td>
    <td>{{ summary.year.full }}</td>
    <td>{{ summary.year.half }}</td>
    </tr>
    <tr>
    <th>Last year</th>
    <td>{{ summary.last_year.jobs }}</td>
    <td>{{ summary.last_year.hours }}</td>
    <td>{{ summary.last_year.full }}</td>
    <td>{{ summary.last_year.half }}</td>
    </tr>
    </table>
{% import _self as jlmacros %}
<h3>Job Log</h3>
{{ jlmacros.list_joblogs(joblogs) }}

<script>
$(document).ready(function() {
    var foobar = $( "#person_joblog_table").dataTable({
        order: [[ 2, 'desc' ], [ 1, 'asc' ]],
        paging: false,
        searching: false,
        info: false,
        columnDefs: [
            {
                "targets": "no-sort",
                "orderable": false,
            }
        ]
    });
});
</script>
