{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}
{% block body %}
    {% if location.parent %}
        <h1>Add sublocation to {{ location.parent }}</h1>
    {% else %}
        <h1>Location creation</h1>
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn-sm btn-dark" type="submit" value="Create" />
    {{ form_end(form) }}
    <a href="{{ path('location_index') }}" class="btn-sm btn-dark">Cancel</a>
{% endblock %}
