<table id="crew_table" class="table table-striped-greyhead table-sm" data-order='[[ 0, "asc" ]]'>
<thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Functions</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Status</th>
        <th class="selectcol"></th>
    </tr>
</thead>
<tbody>
{% for person in people %}
    <tr>
        <td style="white-space:nowrap;" data-order="{{ person.username }}">
            <a tabindex="0" href="#" id="popSummary_person_{{ person.id }}" onClick="return popSummary('person', {{ person.id }});"><span style="font-size: 15px" class="fas fa-info-circle"></span></a>
            <a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.username }}</a>
        </td>
        <td style="white-space:nowrap;" data-order="{{ person.lastname }}">
            <a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.fullname }}</a>
        </td>
        <td>
            {% for f in person.functions %} {{ f.name }},{% endfor %}</td>
        <td>{{ person.mobilephonenumber }}</td>
        <td>{{ person.email }}</td>
        <td>
        {{ person.statelabel(on_date) }}
        </td>
        <td> {{ person.id }} </td>
    </tr>
{% endfor %}
</tbody>
</table>
