<table id="crew_table" class="table table-striped-greyhead table-sm" data-order='[[ 0, "asc" ]]'>
<thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>State</th>
        <th>Mobile</th>
        <th>Email</th>
{% if person_jobs is not empty %}
        <th>Function that day</th>
{% endif %}
        <th class="selectcol"></th>
    </tr>
</thead>
<tbody>
{% for person in people %}
    <tr>
        <td style="white-space:nowrap;" data-order="{{ person.username }}"><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.username }}</a></td>
        <td style="white-space:nowrap;" data-order="{{ person.lastname }}"><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.fullname }}</a></td>
{% if on_date is defined %}
        <td>{{ person.statelabel(on_date) }}</td>
{% else %}
        <td>{{ person.statelabel }}</td>
{% endif %}
        <td>{{ person.mobilephonenumber }}</td>
        <td>{{ person.email }}</td>
{% if person_jobs is not empty %}
        <td>{{ person_jobs[person.id] | join(",") }}</td>
{% endif %}
        <td>{{ person.id }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
