  <div id="sakonninmessage_{{ note.messageid }}">
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(note, true) %}
    <form id="deletemessageform_{{ note.messageid }}" onSubmit="return deleteSakonninMessage('{{ note.messageid }}');">
    <strong id="sakonninmessagesubject_{{ note.messageid }}">{{ note.subject }}</strong>
    (<a href="#" title="{{ note.messagetype.description }}">{{ note.messagetype }}</a> by {{ note.createdBy }} at {{ note.createdAt | date('Y-m-d') }}) {% if note.expireat %}Expires {{ note.expireat | date('Y-m-d') }}{% endif %})
    {{ form_start(mdelform) }}
    {{ form_rest(mdelform) }}
    <a href="#" onClick="return grabEditSakonninMessageForm('{{ note.messageid }}');"><button class="btn btn-link edit_glyph"></button></a>
    <button type="submit" class="btn btn-link remove_glyph"></button>
    </form>
    <pre class="noteText" id="sakonninmessagebody_{{ note.messageid }}">{{ note.body }}</pre>
  </div>
