{% import "@BisonLabCommon/macros.html.twig" as blcommon %}
<!DOCTYPE html>
<html>
{% block header %}
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>{% block title %}CrewCall{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
   <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('components/jqueryui/themes/smoothness/jquery-ui.min.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('components/fullcalendar/dist/fullcalendar.min.css') }}" type="text/css" media="all" />
{#
   <link rel="stylesheet" href="{{ asset('css/datatables.css') }}" type="text/css" media="all" />
 #}
   <link rel="stylesheet" href="{{ asset('bundles/bisonlabcommon/datatables/datatables.min.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('bundles/bisonlabcommon/datatables/dataTables.checkboxes.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('bundles/bisonlabsakonnin/css/sakonnin.css') }}" type="text/css" media="all" />
   <link rel="stylesheet" href="{{ asset('font-awesome/css/all.min.css') }}" type="text/css" media="all" />
    <!-- The stuff added in the application -->
   <link rel="stylesheet" href="{{ asset('css/crewcall.css') }}" type="text/css" media="all" />
    <!-- The last one, your customizations -->
   <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css" media="all" />
{% endblock %}
   <script src="{{ asset('components/jquery/jquery.js') }}"></script>
   <script src="{{ asset('components/jqueryui/jquery-ui.js') }}"></script>
   <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
   <!-- with datatables.min.js it ends up with the (js-debug)console complaining about pdfmake.min.js.map is missing. -->
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
   <script src="{{ asset('bundles/bisonlabcommon/datatables/datatables.js') }}"></script>
   <script src="{{ asset('bundles/bisonlabcommon/datatables/dataTables.checkboxes.min.js') }}"></script>
   <script src="{{ asset('bundles/bisonlabcommon/js/multiselect.min.js') }}"></script>
    {% include 'scripts.html.twig' %}
{#    {% include '@BisonLabSakonnin/Message/_message_log_popup.html.twig' %} #}
    {% include '@BisonLabSakonnin/scripts.html.twig' %}
    {% if enable_personal_messaging %}
        {% include '@BisonLabSakonnin/Message/_pm_handling.html.twig' %}
    {% endif %}
{% endif %}
</head>
{% endblock %}
{% block base %}
{% endblock %}
{# Yes, not a head(er) thingie, but it still makes sense to have it here. #}
</html>
