<h4 class="text-uppercase font-weight-bold mt-4"><a href="#" onClick="return getCContent('{{ path('uf_me_profile') }}');"><span class="fas fa-arrow-left"></span></a> Edit Myself</h4>
<div class="row mb-4">
<div class="col-12">
    {{ form_start(form, { 'attr': {'id': 'editMyselfForm', 'onSubmit': 'return submitEditForm();'}}) }}
    {{ form_widget(form) }}
    {% for aform in my_attributes_forms %}
        {{ form_label(aform) }} {{ form_widget(aform) }}
    {% endfor %}
    <button class="btn btn-dark">Save</button>
    {{ form_end(form) }}
</div>
</div>
{% include "/user/_profile_foot.html.twig" %}

<script>
function submitEditForm() {
    formdata = $( "#editMyselfForm" ).serialize();
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "text/html");
        },
        type: "POST",
        url: "{{ path('uf_me_edit_myself') }}",
        data: formdata,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
          $( "#ccContentBody" ).html(cont);
    });
    return false;
}
</script>
