<h4 class="text-uppercase font-weight-bold mt-4">My Hours</h4>
<p>Please make sure your information is up to date at all times</p>
</div>
<div  class="row mb-4">
<div  class="col-12">
<table class="profile-table table-sm table-striped">
<thead>
<tr>
<th>Job</th>
<th>In</th>
<th>Out</th>
{# <th>Break</th> #}
</tr>
</thead>
<tbody>
{% for job in joblogs %}
<tr>
    <td>{{ job.shift }}</td>
    <td>{{ job.in | date("Y-m-d H:i") }}</td>
    <td>{{ job.out | date("Y-m-d H:i") }}</td>
    <td>{{ job.breakminutes }}</td>
{#     <td>{{ job.workedtime }}</td> #}
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% include "/user/_profile_foot.html.twig" %}
