<h4 class="text-uppercase font-weight-bold mt-4">Sign up for jobs</h4>
{% include '/user/_signup_head.html.twig' %}
<table id="jobs_list_table" class="table table-striped  table-sm">
    <thead class="thead-inverse">
        <tr>
            <th>Event</th>
            <th>Where</th>
            <th>When</th>
            <th>What</th>
            <th class="no-sort">Signup</th>
        </tr>
    </thead>
    <tbody>
    {# Better make this a service function or something, for listing opportunities with already registerted interest filtered out #}
    {% for job in opportunities %}
        <tr id=item-{{ job.id }}>
            <td>{{ job.event.name }}</td>
            <td>{{ job.location.name }}</td>
            <td data-order="{{ job.shift.starttimestamp }}" >
                {{ job.shift.starttimedate }} -
                {{ job.shift.end_string }}
            </td>
            <td>{{ job.shift.function }}</td>
            <td>
                {% set no_buttontext = true %}
                <div class="signup-list">
                    {% include '/user/_signup_form.html.twig' %}
                </div>
            </td>
        </tr>
    {% endfor %}
    {% for job in interested %}
        <tr id="item-{{ job.id }}">
            <td>{{ job.event.name }}</td>
            <td>{{ job.location.name }}</td>
            <td data-order="{{ job.shift.starttimestamp }}" >{{ job.shift.starttimedate }}</td>
            <td>{{ job.shift.function }}</td>
            <td>
              <div class="signup-list">
                <form id="delete_interest_form_{{ job.id }}" action="#" onSubmit="return submitDeleteInterest({{ job.id }});">
                <input type="hidden" value="{{ delete_interest._csrf_token }}" name="_csrf_token">
                <button class="btn btn-dark ml-3"><i class="fas fa-times mr-1 text-danger"></i></button>
                </form>
              </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
jQuery(document).ready(function() {
    $( "#jobs_list_table" ).dataTable({
        "order": [[ 2, "asc" ]],
        "paging": false,
        "info": false,
        "columnDefs": [{
            "targets": 'no-sort',
            "orderable": false,
        }],
        "searching": false
    });
});
</script>
