<h4 class="text-uppercase font-weight-bold mt-4"><a href="#" onClick="return getCContent('{{ path('uf_me_profile') }}');"><span class="fas fa-arrow-left"></span></a> Change Password</h4>
<div class="row mb-4">
<div class="col-12">
    {{ form_start(form, { 'attr': {'id': 'passwordChangeForm', 'onSubmit': 'return submitPasswordForm();'}}) }}
    {{ form_widget(form) }}
    <span class="form-text small text-muted">To confirm, type the new password again.</span>
    <button class="btn btn-dark">Save</button>
    {{ form_end(form) }}
</div>
</div>
{% include "/user/_profile_foot.html.twig" %}

<script>
function submitPasswordForm() {
    formdata = $( "#passwordChangeForm" ).serialize();
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "text/html");
        },
        type: "POST",
        url: "{{ path('uf_me_change_password') }}",
        data: formdata,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
          $( "#ccContentBody" ).html(cont);
    });
    return false;
}
</script>
