<h4 class="text-uppercase font-weight-bold mt-4">My Profile</h4>
<p>Please make sure your contact information is up to date at all times</p>

<div class="mb-4">
  <div class="row">
    <div class="col-5 col-lg-2">
        {% if profile_picture_url is not null %}
        <img class="image-circle" src="{{ profile_picture_url }}"></img>
        {% endif %}
        {% if personfields.profile_picture.user_editable %}
                {% set ppcontext = {
                        'file_type': 'ProfilePicture',
                        'system': 'crewcall',
                        'object_name': 'person',
                        'external_id': app.user.id
                    } %}
                {% set sfconf = {'sfconfig': {
                        'file_type': 'ProfilePicture',
                        'description': 'ProfilePicture',
                        'title': 'Add Profile Picture',
                        'formname': 'profile_upload',
                        'reload_after_post': true,
                        'tags': false,
                        'context': {
                            'system': 'crewcall',
                            'object_name': 'person',
                            'external_id': app.user.id
                            }
                        }
                    } %}
                {% include '@BisonLabSakonnin/SakonninFile/_create_popup.html.twig' with sfconf %}
            {% if profile_picture_url is not null %}
                <br><a href="#" onClick="return uploadProfilePicture();">Replace</a>
            {% else %}
                <br><a href="#" onClick="return uploadProfilePicture();">Add profile picture</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="col-7 col-lg-10">
        {% for role in roles %}
        {{ role.description }}</br>
        {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 mt-4">
    <table>
{% if user.email is not empty %}
    <tr>
      <th valign="top">E-mail:</th>
      <td>{{ user.email }}</td>
    </tr>
{% endif %}
{% if user.mobilephonenumber is not empty %}
    <tr>
      <th>Mobile:</th>
      <td>{{ user.mobilephonenumber  }}</td>
    </tr>
{% endif %}
{% if user.homephonenumber is not empty %}
    <tr>
      <th valign="top">Home phone number:</th>
      <td>{{ user.homephonenumber }}</td>
    </tr>
{% endif %}
{% if user.address is not empty %}
    <tr>
      <th valign="top">Address</th>
      <td>{{ cc_addressing.compose(user.address, 'html') | raw }}</td>
    </tr>
{% endif %}
{% if user.dateofbirth is not empty %}
    <tr>
      <th valign="top">Date of birth:</th>
      <td>{% if user.dateofbirth %}{{ user.dateofbirth|date('Y-m-d') }}{% endif %}</td>
    </tr>
{% endif %}
{% if user.nationality is not empty %}
    <tr>
      <th valign="top">Nationality:</th>
      <td>{{ user.nationalitycountry }}</td>
    </tr>
{% endif %}
{% if user.diets is not empty %}
    <tr>
      <th valign="top">Diets:</th>
      <td>{{ user.dietslabels | join(", ") }}</td>
    </tr>
{% endif %}
{% if user.emergencycontact is not empty %}
    <tr>
      <th valign="top">Emergency Contact:</th>
      <td>{{ user.emergencycontact | replace({"\r": "", "\n": ", "}) }}</td>
    </tr>
{% endif %}
    <tr>
      <th valign="top">Skills:</th>
      <td>{{ functions | join(", ") }}</td>
    </tr>
    </table>
   </div>
  </div>
{% include "/user/_profile_foot.html.twig" %}
<script>
function uploadProfilePicture() {
    uploadSakonninFile('profile_upload');
    /* getCContent('{{ path('uf_me_profile') }}'); */
    return false;
}
</script>
