<form id="interest_form_{{ job.id }}" action="#">
<input type="hidden" value="{{ signup_shift._csrf_token }}" name="_csrf_token">
{% if no_buttontext is not defined %}
  <div id="comment_{{ job.id }}" class="row ml-2 collapse">
    <textarea name="comment" cols="30" rows="2"></textarea>
  </div><!-- end row -->
{% else %}
  <div id="comment_{{ job.id }}" class="collapse ml-3">
    <textarea name="comment" cols="12" rows="2"></textarea>
  </div><!-- end row -->
{% endif %}
{% set disabled = false %}
{% for check in job.checks %}
<div class="row p-1">
{% if check.type == "ConfirmCheck" %}
{% set disabled = true %}
<fieldset class="col-12">
  <div class="form-check ml-3">
    <input class="form-check-input signup_check_{{ job.id }}" name="checks[{{ check.id}}]" type="checkbox" required="" onClick="toggleConfirmCheck(this, {{ job.id }});">
    <label class="form-check-label" for="checked">
      <i class="fas fa-exclamation-triangle text-danger "></i>
      <p class=" d-inline">{{ check.body }}</p>
    </label>
  </div>
</fieldset>
{% else %}
<fieldset class="col-12">
  <div class="form-check ml-3">
    <input class="form-check-input" name="checks[{{ check.id}}]" type="checkbox">
    <label class="form-check-label" for="checked">
          <p class=" d-inline">{{ check.body }}</p>
    </label>
  </div>
</fieldset>
{% endif %}
</div><!-- end row -->
{% endfor %}{# checks #}
  <div class="row">
    <div class="col-12">
      <button id="signup_button_{{ job.id }}" name="interested" class="{% if disabled %}disabled {% endif %}btn btn-dark ml-3" type="submit" onClick="return submitInterest({{ job.id }});"><i class="fas fa-check text-success"></i>{% if no_buttontext is not defined %} Sign Up{% endif %}</button>
      <a class="collapsed" data-toggle="collapse" data-target="#comment_{{ job.id }}" aria-expanded="false" aria-controls="comment_{{ job.id }}">
        <span class="fas fa-comment align-bottom"></span>
      </a>
   {% if view != "uninterested" %}
      <button id="uninterested_button_{{ job.id }}" name="uninterested" class="btn btn-dark align-right" type="submit" onClick="return submitInterest({{ job.id }}, true);"><i class="fas fa-trash text-danger"></i>{% if no_buttontext is not defined %} Not interested{% endif %}</button>
   {% endif %}
    </div>
  </div><!-- end row -->
</form>
