<script>
function submitInterest(job_id, uninterested = false) {
    orgurl = "{{ signup_shift.url }}";
    if (uninterested)
         orgurl = "{{ set_uninterested.url }}";
    var url = orgurl.replace("ID", job_id);
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: url,
        data: $( "#interest_form_" + job_id ).serialize(),
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
        $( "#item-" + job_id ).hide();
        icount = $( "#interested_count" ).text();
        ocount = $( "#signupCount" ).text();
        ocount--;
        if (!uninterested)
            icount++;
        $( "#interested_count" ).text(icount);
        $( "#opportunities_count" ).text(ocount);
        $( "#signupCount" ).text(ocount);
      }).fail(function(xhr, status, error) {
            errmsg = "Failed signing you up.\n";
            alert(errmsg);
    });
    return false;
}
</script>
<div class="row">
  <div class="col-sm d-flex justify-content-center">
      <a class="btn badge{% if view == "opportunities" %} badge-secondary{% endif %}" href="#" onClick="return getCContent('{{ path('uf_me_jobs', {'view': 'opportunities'}) }}', 'myJobsLink');">Sign up (<span id="opportunities_count">{{ opportunities | length }}</span>)</a>
      <a class="btn badge{% if view == "interested" %} badge-secondary{% endif %}" href="#" onClick="return getCContent('{{ path('uf_me_jobs', {'view': 'interested'}) }}', 'myJobsLink');">Signed Up (<span id="interested_count">{{ interested | length }}</span>)</a>
      <a class="btn badge{% if view == "jobs_list" %} badge-secondary{% endif %}" href="#" onClick="return getCContent('{{ path('uf_me_jobs', {'view': 'jobs_list'}) }}', 'myJobsLink');">As list</a>
      <a class="btn badge{% if view == "uninterested" %} badge-secondary{% endif %}" href="#" onClick="return getCContent('{{ path('uf_me_jobs', {'view': 'uninterested'}) }}', 'myJobsLink');">Hidden</a>
    </div>
</div><!-- end row -->
<div class="row">
    {% include '/user/_choose_month.html.twig' %}
</div><!-- end row -->
