{% extends 'base.html.twig' %}
{% block title %}{{ functionEntity }}{% endblock %}
{% block body %}
    <h1>{{ functionEntity }}</h1>

<div class="row">
  <div class="col-4">
    <table class="showTable">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ functionEntity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ functionEntity.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ functionEntity.statelabel }}</td>
            </tr>
            <tr>
                <th>Crew Manager</th>
                <td>{{ functionEntity.crewmanager  ? "Yes" : "No" }}</td>
            </tr>
            <tr>
             <th>
                <a href="{{ path('function_edit', { 'id': functionEntity.id }) }}"  class="btn-sm btn-dark">Edit</a>
{% if functionEntity.deleteable %}
                <br>
                {{ form_start(delete_form) }}
                    <input class="btn-sm btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
{% endif %}
             </th>
             <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-8 tabbable" id="eventRight">
  <ul id="tabRight" class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link" href="#peopletab" data-toggle="tab">People</a>
  </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="peopletab">
      <table id="peoplewithfunctionstable" class="table table-sm">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th class="selectcol">Select</th>
          </tr>
      </thead>
      <tbody>
          {% for pf in functionEntity.personfunctions %}
            {% set person = pf.person %}
          <tr>
          <td>
              <a href="{{ path('person_show', { 'id': person.id }) }}">
              {{ person }}
              </a>
          </td>
          <td>{{ person.email }}</td>
          <td>{{ person.mobilephonenumber }}</td>
          <td class="personfunction_select">{{ pf.id }}</td>
          </tr>
          {% endfor %}
      </tbody>
      <tfoot>
         <th>&nbsp;</th>
         <th>&nbsp;</th>
         <th>&nbsp;</th>
         <th>
{{ form_start(remove_people_form) }}
    <input class="btn-sm btn-danger" type="submit" value="Remove">
{{ form_end(remove_people_form) }}
        </th>
      </tfoot>
    </table>
    </div>
  </div>
 </div>
</div><!-- End Row -->

<script>

$(document).ready(function() {

    var selectable_table = setupSortable($( '#peoplewithfunctionstable' ), true);

    $('#removePeopleForm').on('submit', function(eventObj) {

        var $btn = $(document.activeElement);
        var form = this;

        var rows_selected = selectable_table.column('.selectcol').checkboxes.selected();

      // Iterate over all selected checkboxes
      $.each(rows_selected, function(index, rowId){
         // Create a hidden element
         $(form).append(
             $('<input class="peoplefunctions_list">')
                .attr('type', 'hidden')
                .attr('name', 'personfunctions[]')
                .val(rowId)
         );
      });
    });

        postdata = $(form).serialize();
        $.ajax({
            type: "POST",
            url: "{{ path('function_remove_people', {'id': functionEntity.id}) }}",
            data: postdata,
            success: function(data)
            {
                parent.location.reload();
            }
        });
        eventObj.preventDefault();
});

</script>


{% endblock %}
